name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploying loblaws price data
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # Authenticate gcloud CLI
    - name: Authenticate gcloud CLI
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    # Set up Google Cloud SDK
    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    # Deploy to Cloud Run
    - name: Deploy to Cloud Run
      run: |
        gcloud run jobs deploy scraper-ingestion \
          --source . \
          --region northamerica-northeast2 \
          --project ${{ secrets.GCP_PROJECT_ID }} \
          --set-env-vars NEKREE_API_KEY=${{ secrets.NEKREE_API_KEY }},NEKREE_API_UPLOAD=${{ secrets.NEKREE_API_UPLOAD }},NEKREE_API_FILES=${{ secrets.NEKREE_API_FILES }}