name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy-empire:
    name: Deploy Empire
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}
    - uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
    - run: |
        gcloud run jobs deploy empire-scraper \
          --source . \
          --region northamerica-northeast2 \
          --project ${{ secrets.GCP_PROJECT_ID }} \
          --set-build-env-vars GOOGLE_ENTRYPOINT="python3 empire.py" \
          --set-env-vars NEKREE_API_KEY=${{ secrets.NEKREE_API_KEY }},NEKREE_API_UPLOAD=${{ secrets.NEKREE_API_UPLOAD }},NEKREE_API_FILES=${{ secrets.NEKREE_API_FILES }}

  deploy-loblaws:
    name: Deploy Loblaws
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}
    - uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
    - run: |
        gcloud run jobs deploy loblaws-scraper \
          --source . \
          --region northamerica-northeast2 \
          --project ${{ secrets.GCP_PROJECT_ID }} \
          --set-build-env-vars GOOGLE_ENTRYPOINT="python3 loblaws.py" \
          --set-env-vars NEKREE_API_KEY=${{ secrets.NEKREE_API_KEY }},NEKREE_API_UPLOAD=${{ secrets.NEKREE_API_UPLOAD }},NEKREE_API_FILES=${{ secrets.NEKREE_API_FILES }}